@import url(https://fonts.googleapis.com/css?family=Poppins:600,400,300);
@import url(https://fonts.googleapis.com/css?family=Lora);

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #333338;
	line-height: 1.3;
	font-weight: 300;
}
header {

	padding: .5em;
	text-align: right;
}

section{
	text-align: center;
}

h1{
	color: #FFFFFF;
	font-size: 3em;
	text-align: center;
	margin-top:3em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .25em;
	padding: .5em;
}

h4{
	text-align: center;
	color:#222222;
}

a {	
	color: #666;
	text-decoration: none;
}

nav{
	font-size: 1.15em;
	float:right;
	margin-right: 1.5em;
}
nav a{ 
	color: #FFFFFF;
	padding: 0.5em 0em 0em 0em;
	text-transform: uppercase;
	letter-spacing: .15em;
	display: inline-block;
	margin: .75em;
}
nav a:hover{
	color:  #5B96AD;
	border-bottom: 2px solid;
}

nav a:active{
	color:  #5B96AD;
}

hr + p{
	margin: 2em auto;
	text-align: center;
	width: 75%;
}

h4 + hr{
	border: none;
	height: 2px;
	background-color: #222;
	width: 10%;
	margin: 2em auto;

}

h2 + p{
	margin-top: 20px;
}

img{
	width: 100%;
	padding-top: 1em;
}

main{
	padding: 10px;
}

h3{
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: .25em;
	font-size: 1.35em;
	color: #333338;
}

h3:hover{
	color:  #5B96AD;
}

h2 {
	color:#333338;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size:2.15em;
	letter-spacing: .25em;
}

hr{
	border: none;
	height: 2px;
	background-color: #E5E4E0;
	width: 90%;
	margin: 2em auto;

}
footer{
	background-color: #333338;
	text-align: center;
	font-size: .8em;
	color: #666;
	padding:20px;
}

input{
	border: none;
	font-size: .8em;
	outline: none;
	width: 95%;
}


label{
	color: #FFFFFF;
	font-size: 1.15em;
	padding: 0.5em 0em 0em 0em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .15em;
	display: none;
	margin: .75em;
}

#form{
	width: 78%;
	padding: 1em;
	line-height: normal:;
	outline: none;
	display: inline-block;
	text-align: start;
	background-color: white;
	font-family: 'Lora', serif;
	font-size: 1em;
	margin: 15px 15px;
}

#footerlink a{
	font-family: 'Poppins',sans-serif;
	display:inline-block;
	outline: none;
	font-size: 1em;
	text-transform: uppercase;
	color:#FFF;
	text-align: center;
	padding: 1em;
}

#cities div {
	float:left;
	width: 33.33%;
	padding: 2em;
	text-align:left;
}

section#cities{
	max-width: 55em;
	margin: auto;
}

.latest{
	width: 78%;
	display: inline-block;
	margin: 20px;

}

.subscribe{
	color: #FFF;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	background-color: #5B96AD;
	padding: 30px;
	margin: 3em auto;
	width: 75%;
}

#slogan{ 
	font-family: 'Poppins', sans-serif;
	font-size: 1.15em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 4em;
	font-weight: 400;
}

#lander{
	background: url(../images/newyork.jpg) no-repeat center center scroll;
	background-size: cover;
	height:525px;
	padding:20px 0;
}

#button{
	color: #FFF;
	font-size: 1em;
	font-weight: 400;
	border: 2px solid white;
	padding: 1em 1.5em;
	text-transform: uppercase;
	letter-spacing: .20em;
	margin:aut;
}

.button{
	text-align: center;
	margin: 20px;
}

#button:hover{
	color: #000;
	background: #FFF;
}


.clearfix:after{
	visibility: hidden;
	display: block;
	content: "";
	clear:  both;
	height: 0; 
	font-size: 0;
}

#toggle{
	display: none;
}


@media only screen and (min-width: 1921px){
	body{
		font-size:1.5em;
	}
	#mobile{
		display: none;
	}
}

@media only screen and (max-width: 1600px ){
	#mobile{
			display: none;
	}

@media only screen and (max-width: 745px ){
	#cities div {
		margin:auto;
		float:none;
		width:80%;
	}
	#mobile{
			display: none;
	}
}
@media only screen and (max-width: 768px ){
	nav a{
		display: block;
		text-align: center;
		margin: auto;
	}

	nav{ 
	float:none; 
	margin:auto;
}
nav a:hover{
	border-bottom: none;
}
	#mobile{
		display: none;
	}
	h1{
		font-size: 2.5em;
		margin-top: 1em;
	}
	#cities div{
		width:100%;
	}
}

@media only screen and (max-width: 560px ){
	nav a{

		display:none;
	}
	h1{
		font-size: 2em;
		margin-top: 2em;
	}
	.subscribe{
		width: 90%;
	}/*
		#mobile{
		display: block;
		float: right;
	}*/
		label{
		display: block;
	}

	#toggle:checked + nav a{
		display: block;
	}
}
